[user]
        email = kevin@24dev.io
        name = Kevin K.
[color]
        ui = true
[rebase]
        autosquash = true
[commit]
        gpgsign = true
[pull]
        rebase = true
[core]
        excludesfile = ~/.gitignore
[gpg]
        format = ssh
[tag]
        gpgsign = true
[init]
	defaultBranch = main
